body{
    background-color: #070f1d;
    padding: 0%;
    margin: 0%;
}

#Navbar-1{
    top: 0vh;
    background-color: #070f1d;
    height: 8vh;
    position: fixed;
    z-index: 1;
    width: 100%;  
    display: none;
}
#Navbar-1 a:hover{
    border-bottom: 1px aqua solid;
    transition: 1s;
}
.Nav-color-1{
    background-color: #070f1d;
    color: #ffe4c4;
}
.Nav-color-2{
    background-color: #ffe4c4;
    color: #ffe4c4;
}
.head-section{   
    height: 7vh;
    display: flex;
    align-items: center;
}

#About-Me{
    top: 0vh;
    padding: 0% 10%;
    background-image: url(/img/pexels-free-nature-stock-974471.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: 100vh ;
    position: fixed;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#About-Me h1{
    font-size: 2.5rem;
    color: antiquewhite;

}

#About-Me p{
    margin-top: 5vh;
    padding: 2%;
    color: beige;
    font-size: 1.5rem;       
}

/*--------------VALORES-----------------*/

#Valores{
    text-align: center;
    height: 100vh;
    margin-top: 100vh;
    background:  #070f1d;
    overflow: hidden;
}
.V1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
    height: 33vh;
    color: #070f1d;
}
.V2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: bisque;
    background-color: #070f1d;
    height: 33vh;

}
#Valores p{
    margin: 0% 10%;
}


/*----------------------------PROYECTOS-----------------------*/
#Proyectos{
    height: 100vh;
    background:  linear-gradient(180deg,#070f1d 10%,#11203e 100%);
    overflow: hidden;
    /* background-color: aqua; */
    color: #ffe4c4;
    padding: 0%;

}
.height-100vh-3{
    height: 93vh;
    overflow: hidden;
}
#Proyectos img{
    
    width: 100%;
   margin: 0%;
}
/*----------------------TECNOLOGIAS-----------------------------*/

#Tecnologias{
    
    padding: 1% 5%;
    background:  linear-gradient(180deg,#070f1d 10%,#11203e 100%);
    height: 100vh;
}

#Tecnologias h3{
    text-align: center;
}


.Tec-Header{
    display: flex;
    align-items: center;
    color: #ffe4c4;
    height: 7vh;
}
.Tec-Header button{
   padding: 5px;
   border: #ffe4c4 2px solid;
   color: #ffe4c4;
   margin: 0% 5%;
   background-color: #070f1d;
}

.caro-item{
    height: 100%;
}
#Tecnologias img{
     height: 70px; 
 }
 .Card-ProGeneral{
    margin-top: 6.5vh;
    background-color: aliceblue;
    padding: 1%;
    
 }
.Row-100{
    height: 100%;

}

 #Tecnologias h1{
    color: #ffe4c4;
    padding: 1% 0%;
 }


/*-----------------EXPERIENCIA---------------------*/

 #Experiencia{

    background-color: #070f1d;
    color: bisque;
    height: 100vh;
    overflow: hidden;
 }
 #Experiencia .Exp-Main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 93vh;
 }
 #Experiencia h3{
    color: aqua;
    text-align: center;
 }

 #Experiencia ul,h4{
    list-style: none;
    margin: 0% 10%;
} 
#Experiencia ul li::before{
    content: "🚀    ";
} 
/* ------------------contacto-------------------------- */
#Contact{
    text-align: center;
    color: #ffe4c4;
    background:  linear-gradient(180deg,#070f1d 10%,#11203e 100%);
    overflow: hidden;
    border-top: 2px wheat solid;
    height: 10vh;
    display: flex;
}

#Contact a{
    margin: 1% 7%;
    color: bisque;
    text-decoration: none;    
}

#Contact img{
     height: 25px;
 }


/* 
 #Languages{
    background:  linear-gradient(180deg,#070f1d 10%,#11203e 100%);
     color: aliceblue;
     padding: 0%;
     text-align: center;
     height: 30vh;
     margin: 0%;
 }
*/

@media (max-width:960px) {
    .height-100vh-3{
        height: 32vh;   
    }
    #Proyectos img{
    
        /* width: 100%; */
        height: 25vh;
        width: auto;
    }
    #Proyectos{
        height: auto;
    }
    .caro-item{
        height: 55vh;
    }
}
@media  (max-width: 600px)  {

    #About-Me p{
      font-size: 1rem;
    }
    .V1{
        height:  16.6vh;
    }
    .V2{
        height: 16.6vh;
    }

    #Tecnologias{
        height: auto;
        width: 100%;
    }
    .caro-item{
        height: 75vh;
    }
    #Experiencia{
        height: auto;
    }
    #Experiencia h3 {
        font-size: larger;
    }
    #Experiencia>div{
        margin: 2% 8%;
     }
     #Experiencia ul,h4{
        margin: 2% 0%;
     }
    #Contact{
        height: auto;
    }
    .Row-100{
        height: auto;
    }


    .R-130{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }
} 
